@inherits LayoutComponentBase
@inject NavigationManager Nav

<div class="page">

    <!-- Navigation Area -->
    <div class="sidebar" style="padding: 20px; background:#f5f5f5;">

        <h2>Navigation</h2>

        <button @onclick="() => Nav.NavigateTo(git init" intro")">
            Intro Page
        </button>
        <br /><br />

        <button @onclick="() => Nav.NavigateTo(" profile")">
            Profile Page
        </button>
        <br /><br />

        <button @onclick="() => Nav.NavigateTo(" monkeys")">
            Monkey Page
        </button>

    </div>

    <!-- Main content area -->
    <div class="main" style="padding:20px;">
        @Body
    </div>

</div>
