@inherits LayoutComponentBase

<div class="page" style="display:flex; min-height:100vh;">

    <div class="sidebar" style="width:220px; padding:20px; background:#f5f5f5;">
        <h3>Navigation</h3>

        <NavLink href="/" Match="NavLinkMatch.All">Intro Page</NavLink><br />
        <NavLink href="/profile">Profile Page</NavLink><br />
        <NavLink href="/monkeys">Monkey Page</NavLink>
    </div>

    <div class="main" style="flex:1; padding:20px;">
        @Body
    </div>

</div>
